Repository alexandreg67/pim: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix

.lintstagedrc:

{
  "*.{json,css,md}": ["prettier --write"],
  "client/src/**/*.{ts,tsx}": [
    "prettier --write",
    "npm --prefix client run lint:fix"
  ],
  "services/graphql-service/src/**/*.ts": [
    "prettier --write",
    "npm --prefix services/graphql-service run lint:fix"
  ]
}

Improve RecentHistory component with enhanced layout and additional details
  client/codegen.ts
  client/src/components/dashboard/RecentHistory.tsx
  client/src/generated/graphql-types.ts
  client/src/graphql/dashboard.ts
  client/src/graphql/products.ts
  client/src/pages/Dashboard.tsx
  services/graphql-service/src/resolvers/DashboardResolver.ts
  services/graphql-service/src/types/DashboardStats.ts
Due: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix

add characteristics management section
  client/src/components/products/edit/CharacteristicsSection.tsx
  client/src/generated/graphql-types.ts
  client/src/graphql/characteristic.ts
  client/src/graphql/characteristicDefinitions.ts
  client/src/pages/EditProductPage.tsx
  client/src/types/Characteristic.ts
  services/graphql-service/src/index.ts
  services/graphql-service/src/resolvers/CharacteristicDefinitionResolver.ts
  services/graphql-service/src/resolvers/ProductCharacteristicsResolver.ts
Due: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix

refactor(user): replace isAdmin with role enum
  deploy/dev/docker-compose.yml
  services/graphql-service/src/entities/Users.ts
  services/graphql-service/src/middleware/createContext.ts
  services/graphql-service/src/resolvers/UserResolver.ts
  services/graphql-service/src/services/UserService.ts
  services/graphql-service/src/types/Context.ts
  storage/postgres/init/01_init.sql
  storage/postgres/init/06_users_seed.sql
  storage/postgres/run-migrations.sh
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

test: verify linting and formatting
  .lintstagedrc
  deploy/dev/docker-compose.yml
  services/auth-service/.env.sample
  services/auth-service/.gitignore
  services/auth-service/dockerfile
  services/auth-service/eslint.config.mjs
  services/auth-service/package-lock.json
  services/auth-service/package.json
  services/auth-service/src/index.ts
  services/auth-service/tsconfig.json
Due: prettier --write

add authentication service initial setup
  deploy/dev/docker-compose.yml
  nginx.conf
  services/auth-service/dockerfile
  services/auth-service/src/index.ts
Due: none

rebase users.ts
  services/auth-service/.env
Due: none

initialize auth service with database connection and nginx proxy
  nginx.conf
  package-lock.json
  package.json
  services/auth-service/.env
  services/auth-service/src/config/database.ts
  services/auth-service/src/entities/User.ts
  services/auth-service/src/index.ts
  services/auth-service/src/routes/auth.routes.ts
  services/auth-service/src/services/auth.service.ts
  services/mail-service/package-lock.json
  services/mail-service/package.json
Due: prettier --write

implement mail microservice
  .lintstagedrc
  deploy/dev/docker-compose.yml
  nginx.conf
  package-lock.json
  package.json
  services/auth-service/src/config/database.ts
  services/auth-service/src/index.ts
  services/auth-service/src/services/mail.service.ts
  services/mail-service/dockerfile
  services/mail-service/package-lock.json
  services/mail-service/package.json
  services/mail-service/src/__tests__/mail.test.ts
  services/mail-service/src/config/mail.ts
  services/mail-service/src/controllers/mail.controller.ts
  services/mail-service/src/index.ts
  services/mail-service/src/routes/mail.routes.ts
  services/mail-service/src/templates/index.ts
  services/mail-service/src/types/express.d.ts
  services/mail-service/tsconfig.json
Due: prettier --write

add createContext.ts
  services/graphql-service/src/middleware/createContext.ts
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

implement auth service with user registration
  deploy/dev/docker-compose.yml
  nginx.conf
  services/auth-service/dockerfile
  services/auth-service/package-lock.json
  services/auth-service/package.json
  services/auth-service/src/config/jwt.config.ts
  services/auth-service/src/controllers/auth.controller.ts
  services/auth-service/src/dtos/auth.dto.ts
  services/auth-service/src/entities/User.ts
  services/auth-service/src/middlewares/auth.middleware.ts
  services/auth-service/src/middlewares/validate.middleware.ts
  services/auth-service/src/routes/auth.routes.ts
  services/auth-service/src/services/auth.service.ts
  services/auth-service/src/services/mail.service.ts
  services/auth-service/src/services/user.service.ts
  services/auth-service/src/types/mail.types.ts
  services/auth-service/src/utils/error.util.ts
  services/auth-service/src/utils/password.util.ts
  services/auth-service/tests/auth-flow.test.ts
  services/graphql-service/src/middleware/createContext.ts
  services/mail-service/src/routes/mail.routes.ts
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

update user entity with role
  services/auth-service/src/entities/User.ts
  services/auth-service/src/services/auth.service.ts
  services/auth-service/src/services/user.service.ts
Due: none

update User entity to use camelCase with proper column mapping
  services/auth-service/src/entities/User.ts
Due: none

correct auth middleware return types and response handling
  services/auth-service/src/middlewares/auth.middleware.ts
Due: none

implement secure user creation flow
  client/package-lock.json
  client/package.json
  client/src/components/admin/UserCreationForm.tsx
  client/src/components/admin/UsersList.tsx
  client/src/layouts/MainLayout.tsx
  client/src/layouts/constants/constants.tsx
  client/src/pages/admin/AdminPage.tsx
  client/src/routes/index.tsx
  deploy/dev/cookies.txt
  services/auth-service/src/config/jwt.config.ts
  services/auth-service/src/controllers/auth.controller.ts
  services/auth-service/src/dtos/auth.dto.ts
  services/auth-service/src/middlewares/admin.middleware.ts
  services/auth-service/src/middlewares/auth.middleware.ts
  services/auth-service/src/routes/auth.routes.ts
  services/auth-service/src/services/auth.service.ts
  services/auth-service/src/services/user.service.ts
  storage/postgres/init/06_users_seed.sql
Due: prettier --write, npm --prefix client run lint:fix

implement secure logout endpoint
  services/auth-service/package-lock.json
  services/auth-service/package.json
  services/auth-service/src/controllers/auth.controller.ts
  services/auth-service/src/dtos/password.dto.ts
  services/auth-service/src/middlewares/rateLimiter.middleware.ts
  services/auth-service/src/routes/auth.routes.ts
Due: prettier --write

feat(auth): implement user authentication flow
  client/package-lock.json
  client/package.json
  client/src/components/auth/ProtectedRoute.tsx
  client/src/layouts/MainLayout.tsx
  client/src/layouts/components/AppBarComponent.tsx
  client/src/layouts/components/UserMenu.tsx
  client/src/layouts/constants/constants.tsx
  client/src/main.tsx
  client/src/pages/LoginPage.tsx
  client/src/pages/ProfilePage.tsx
  client/src/pages/admin/AdminPage.tsx
  client/src/routes/index.tsx
  client/src/store/hooks.ts
  client/src/store/index.ts
  client/src/store/slices/authSlice.ts
  client/src/types/auth.types.ts
  deploy/dev/docker-compose.yml
  services/auth-service/dockerfile
  services/auth-service/package.json
  services/auth-service/src/controllers/auth.controller.ts
  services/auth-service/src/routes/auth.routes.ts
  services/auth-service/tests/auth-flow.test.ts
Due: prettier --write, npm --prefix client run lint:fix

- Add verify endpoint to auth service - Add token verification logic in controller - Check user access dates in verification - Support user authentication for GraphQL API
  client/src/components/admin/UserCreationForm.tsx
  client/src/components/admin/UsersList.tsx
  client/src/layouts/components/UserMenu.tsx
  client/src/pages/admin/AdminPage.tsx
  services/auth-service/src/controllers/auth.controller.ts
  services/auth-service/src/routes/auth.routes.ts
  services/auth-service/tsconfig.json
  services/graphql-service/src/middleware/createContext.ts
Due: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix

update gitignore
  .gitignore
Due: none

update createcontext
  services/graphql-service/src/middleware/createContext.ts
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

Delete file
  services/auth-service/.env
Due: none

enhance user management system with improved security
  client/package-lock.json
  client/package.json
  client/src/components/admin/UserCreationForm.tsx
  client/src/components/admin/UsersList.tsx
  client/src/generated/graphql-types.ts
  client/src/graphql/users.ts
  client/src/main.tsx
  client/src/pages/admin/AdminPage.tsx
  client/src/services/authService.ts
  client/src/store/index.ts
  client/src/store/slices/authSlice.ts
  client/src/utils/auth.ts
  deploy/dev/cookies.txt
  deploy/dev/docker-compose.yml
  services/auth-service/src/controllers/auth.controller.ts
  services/auth-service/src/index.ts
  services/auth-service/src/middlewares/rateLimiter.middleware.ts
  services/auth-service/src/routes/auth.routes.ts
  services/auth-service/src/services/user.service.ts
  services/graphql-service/.env
  services/graphql-service/src/entities/Users.ts
  services/graphql-service/src/index.ts
  services/graphql-service/src/middleware/authMiddleware.ts
  services/graphql-service/src/resolvers/BrandResolver.ts
  services/graphql-service/src/resolvers/CategoryResolver.ts
  services/graphql-service/src/resolvers/CharacteristicDefinitionResolver.ts
  services/graphql-service/src/resolvers/DashboardResolver.ts
  services/graphql-service/src/resolvers/ProductCharacteristicsResolver.ts
  services/graphql-service/src/resolvers/ProductResolver.ts
  services/graphql-service/src/resolvers/TagResolver.ts
  services/graphql-service/src/resolvers/TestResolver.ts
  services/graphql-service/src/resolvers/UserResolver.ts
  services/graphql-service/src/services/UserService.ts
  services/graphql-service/src/types/UserInputs.ts
Due: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix

add table view with edit and delete actions
  client/src/components/products/ProductTableView.tsx
  client/src/pages/ProductsPage.tsx
Due: prettier --write, npm --prefix client run lint:fix

add table view with edit & delete actions
  client/src/components/products/ProductTableView.tsx
  client/src/generated/graphql-types.ts
  client/src/graphql/history.ts
  client/src/graphql/products.ts
  services/graphql-service/src/entities/Products.ts
  services/graphql-service/src/index.ts
  services/graphql-service/src/resolvers/DashboardResolver.ts
  services/graphql-service/src/resolvers/HistoryResolver.ts
  services/graphql-service/src/resolvers/ProductResolver.ts
Due: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix

fix/bug-product table view
  client/src/components/products/ProductTableView.tsx
Due: prettier --write, npm --prefix client run lint:fix

implement product creation flow with brand and contact management
  client/package-lock.json
  client/package.json
  client/src/components/products/edit/ContactSection.tsx
  client/src/components/products/edit/GeneralInfoSection.tsx
  client/src/generated/graphql-types.ts
  client/src/graphql/products.ts
  client/src/layouts/components/DrawerComponent.tsx
  client/src/layouts/constants/constants.tsx
  client/src/pages/CreateProductPage.tsx
  client/src/pages/EditProductPage.tsx
  client/src/pages/ProductsPage.tsx
  client/src/routes/index.tsx
  client/src/types/contact.types.ts
Due: prettier --write, npm --prefix client run lint:fix

add mutation for create product
  services/graphql-service/src/resolvers/ProductResolver.ts
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

add multer config and auth middleware
  deploy/dev/docker-compose.yml
  nginx.conf
  services/upload-service/dockerfile
  services/upload-service/package-lock.json
  services/upload-service/package.json
  services/upload-service/src/config/multer.config.ts
  services/upload-service/src/controllers/upload.controller.ts
  services/upload-service/src/middlewares/auth.middleware.ts
  services/upload-service/src/routes/upload.routes.ts
Due: prettier --write

add upload routes
  services/upload-service/src/controllers/upload.controller.ts
  services/upload-service/src/middlewares/auth.middleware.ts
  services/upload-service/src/routes/upload.routes.ts
Due: none

add dockerfile and entry point
  services/upload-service/.dockerignore
  services/upload-service/dockerfile
  services/upload-service/package-lock.json
  services/upload-service/package.json
  services/upload-service/src/index.ts
Due: prettier --write

fix(upload): correct file paths for image processing
  client/src/pages/EditProductPage.tsx
  deploy/dev/docker-compose.yml
  services/upload-service/dockerfile
  services/upload-service/package.json
  services/upload-service/src/config/multer.config.ts
  services/upload-service/src/controllers/upload.controller.ts
  services/upload-service/src/index.ts
  services/upload-service/src/middlewares/auth.middleware.ts
  services/upload-service/src/routes/upload.routes.ts
Due: prettier --write, npm --prefix client run lint:fix

implement image upload service
  services/upload-service/src/controllers/upload.controller.ts
Due: none

add product image mutation
  services/graphql-service/src/resolvers/ProductResolver.ts
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

implement product image upload
  client/src/pages/EditProductPage.tsx
Due: prettier --write, npm --prefix client run lint:fix

update graphql schema
  client/src/generated/graphql-types.ts
  client/src/graphql/products.ts
Due: prettier --write, npm --prefix client run lint:fix

implement image deletion feature
  client/src/generated/graphql-types.ts
  client/src/graphql/images.ts
  client/src/pages/EditProductPage.tsx
  services/graphql-service/.gitignore
  services/graphql-service/src/index.ts
  services/graphql-service/src/middleware/createContext.ts
  services/graphql-service/src/resolvers/ImageResolver.ts
  services/graphql-service/src/types/Context.ts
  services/upload-service/src/controllers/upload.controller.ts
Due: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix

bug fix editproduct page
  client/src/pages/EditProductPage.tsx
Due: prettier --write, npm --prefix client run lint:fix

Add testing setup for Auth Service
  services/auth-service/.gitignore
  services/auth-service/eslint.config.mjs
  services/auth-service/jest.config.mjs
  services/auth-service/jest.setup.js
  services/auth-service/package-lock.json
  services/auth-service/package.json
  services/auth-service/src/__tests__/services/auth.service.test.ts
  services/auth-service/src/config/jwt.config.ts
  services/auth-service/tests/auth-flow.test.ts
  services/auth-service/tsconfig.json
Due: prettier --write

Add tests for auth service
  services/auth-service/src/__tests__/controllers/auth.controller.test.ts
  services/auth-service/src/__tests__/services/auth.service.test.ts
  services/auth-service/src/__tests__/services/user.service.test.ts
Due: none

standardize error messages and improve middleware tests
  services/auth-service/src/__tests__/middlewares/admin.middleware.test.ts
  services/auth-service/src/__tests__/middlewares/auth.middleware.test.ts
  services/auth-service/src/constants/error-messages.ts
  services/auth-service/src/middlewares/admin.middleware.ts
  services/auth-service/src/middlewares/auth.middleware.ts
Due: none

add integration tests for auth routes
  services/auth-service/src/__tests__/integration/auth.routes.test.ts
Due: none
