Repository alexandreg67/pim: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix, npm --prefix services/auth-service run lint:fix

.lintstagedrc:

{
  "*.{json,css,md}": ["prettier --write"],
  "client/src/**/*.{ts,tsx}": [
    "prettier --write",
    "npm --prefix client run lint:fix"
  ],
  "services/graphql-service/src/**/*.ts": [
    "prettier --write",
    "npm --prefix services/graphql-service run lint:fix"
  ],
  "services/auth-service/src/**/*.ts": [
    "prettier --write",
    "npm --prefix services/auth-service run lint:fix"
  ]
}

chore(nginx): add security headers (HSTS, CSP, Referrer-Policy, Permissions-Policy) with always flag\n\n💘 Generated with Crush\nCo-Authored-By: Crush <crush@charm.land>
  nginx.conf
Due: none

feat(graphql): add simple in-memory rate limiting plugin and env toggles (lint-safe)\n\n💘 Generated with Crush\nCo-Authored-By: Crush <crush@charm.land>
  services/graphql-service/.env.sample
  services/graphql-service/src/index.ts
  services/graphql-service/src/middleware/rateLimit.ts
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

feat(graphql): enable validation (validate:true) and switch Product mutations to validated DTOs\n\n💘 Generated with Crush\nCo-Authored-By: Crush <crush@charm.land>
  services/graphql-service/src/index.ts
  services/graphql-service/src/resolvers/ProductResolver.ts
  services/graphql-service/src/types/ProductInputs.ts
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

feat(upload): harden uploads with magic number verification, stricter filename sanitization, and middleware wiring\n\n💘 Generated with Crush\nCo-Authored-By: Crush <crush@charm.land>
  services/upload-service/src/config/multer.config.ts
  services/upload-service/src/middlewares/verifyMagic.middleware.ts
  services/upload-service/src/routes/upload.routes.ts
Due: none

test(graphql): validation failure test without any types to satisfy linting\n\n💘 Generated with Crush\nCo-Authored-By: Crush <crush@charm.land>
  services/graphql-service/src/__tests__/validation.test.ts
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

docs(plan): update PLAN.md with completed steps and progress\n\n💘 Generated with Crush\nCo-Authored-By: Crush <crush@charm.land>
  PLAN.md
Due: prettier --write

feat: make upload size configurable via env and add optional GraphQL depth limit placeholder\n\n💘 Generated with Crush\nCo-Authored-By: Crush <crush@charm.land>
  services/graphql-service/.env.sample
  services/graphql-service/src/middleware/depthLimit.ts
  services/upload-service/src/config/multer.config.ts
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

feat(rate-limit): add simple in-memory rate limiting to upload and mail services\n\n💘 Generated with Crush\nCo-Authored-By: Crush <crush@charm.land>
  services/mail-service/src/index.ts
  services/mail-service/src/middlewares/rateLimit.middleware.ts
  services/upload-service/src/index.ts
  services/upload-service/src/middlewares/rateLimit.middleware.ts
Due: none

db: add performance indexes and unique constraints (filtered on soft-delete)\n\n💘 Generated with Crush\nCo-Authored-By: Crush <crush@charm.land>
  storage/postgres/migrations/002_perf_indexes.sql
Due: none

fix(client): remove unused param warnings by prefixing event args with _ for build TS6133\n\n💘 Generated with Crush\nCo-Authored-By: Crush <crush@charm.land>
  client/src/pages/BandDetailsPage.tsx
  client/src/pages/CategoriesPage.tsx
Due: prettier --write, npm --prefix client run lint:fix

fix: prefix unused event parameters with _ to avoid warnings
  CRUSH.md
  client/src/components/brands/BrandList.tsx
  client/src/components/products/edit/CategoriesSection.tsx
  client/src/components/products/edit/TagsSection.tsx
  client/src/components/providers/NotificationProvider.tsx
  client/src/pages/admin/AdminPage.tsx
Due: prettier --write, npm --prefix client run lint:fix

feat: ajouter les dépendances @typescript-eslint/eslint-plugin et @typescript-eslint/parser
  services/mail-service/package-lock.json
  services/mail-service/package.json
Due: prettier --write

fix: améliorer la gestion des erreurs et la lisibilité du code dans plusieurs fichiers
  services/mail-service/package.json
  services/mail-service/src/controllers/mail.controller.ts
  services/mail-service/src/middlewares/rateLimit.middleware.ts
  services/mail-service/src/routes/mail.routes.ts
  services/mail-service/src/templates/index.ts
  services/upload-service/src/config/multer.config.ts
  services/upload-service/src/middlewares/rateLimit.middleware.ts
  services/upload-service/src/middlewares/verifyMagic.middleware.ts
Due: prettier --write

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none
