Repository alexandreg67/pim: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix, npm --prefix services/auth-service run lint:fix

refactor(tests): reorganize test structure by type
  services/auth-service/jest.config.mjs
  services/auth-service/package.json
  services/auth-service/src/__tests__/e2e/auth.e2e.test.ts
  services/auth-service/src/__tests__/unit/controllers/auth.controller.test.ts
  services/auth-service/src/__tests__/unit/middlewares/admin.middleware.test.ts
  services/auth-service/src/__tests__/unit/middlewares/auth.middleware.test.ts
  services/auth-service/src/__tests__/unit/services/auth.service.test.ts
  services/auth-service/src/__tests__/unit/services/user.service.test.ts
Due: prettier --write, npm --prefix services/auth-service run lint:fix

ci: add GitHub Actions workflow for auth service
  .github/workflows/auth-service-ci.yml
Due: none

chore: add @types/bcrypt to fix TypeScript errors in CI
  services/auth-service/package-lock.json
  services/auth-service/package.json
Due: prettier --write

rebase and merge
  services/auth-service/coverage/clover.xml
  services/auth-service/coverage/coverage-final.json
  services/auth-service/coverage/lcov-report/base.css
  services/auth-service/coverage/lcov-report/block-navigation.js
  services/auth-service/coverage/lcov-report/favicon.png
  services/auth-service/coverage/lcov-report/index.html
  services/auth-service/coverage/lcov-report/prettify.css
  services/auth-service/coverage/lcov-report/prettify.js
  services/auth-service/coverage/lcov-report/sort-arrow-sprite.png
  services/auth-service/coverage/lcov-report/sorter.js
  services/auth-service/coverage/lcov.info
Due: prettier --write

rebase and merge
  services/graphql-service/src/entities/Actions.ts
  services/graphql-service/src/entities/Brand.ts
  services/graphql-service/src/entities/Brands.ts
  services/graphql-service/src/entities/Categories.ts
  services/graphql-service/src/entities/Category.ts
  services/graphql-service/src/entities/Characteristic.ts
  services/graphql-service/src/entities/CharacteristicDefinitions.ts
  services/graphql-service/src/entities/Contacts.ts
  services/graphql-service/src/entities/Exchanges.ts
  services/graphql-service/src/entities/History.ts
  services/graphql-service/src/entities/Image.ts
  services/graphql-service/src/entities/Images.ts
  services/graphql-service/src/entities/Product.ts
  services/graphql-service/src/entities/ProductCharacteristics.ts
  services/graphql-service/src/entities/Products.ts
  services/graphql-service/src/entities/Tag.ts
  services/graphql-service/src/entities/Tags.ts
  services/graphql-service/src/entities/Users.ts
  storage/assets/images/1739891203608-614810090-alexandreg67_linterieur_dune_grotte_amenagee_en_espace_de_trava_dd72dad4-1bf3-4af2-b70f-7dbc06d26360.jpg
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

ci: implement comprehensive CI workflow for auth service
  .github/workflows/auth-service-complete-ci.yml
Due: none

delete auth-service-ci.yml
  .github/workflows/auth-service-ci.yml
Due: none

integrate Redis caching system
  deploy/dev/docker-compose.yml
  services/graphql-service/package-lock.json
  services/graphql-service/package.json
  services/graphql-service/src/config/redis.ts
  services/graphql-service/src/index.ts
  services/graphql-service/src/middleware/cacheMetrics.ts
  services/graphql-service/src/middleware/createContext.ts
  services/graphql-service/src/resolvers/ProductResolver.ts
  services/graphql-service/src/types/Context.ts
  storage/redis/redis.conf
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

update github workflows
  .github/workflows/auth-service-complete-ci.yml
Due: none

Add CI/CD workflow for Docker Hub deployment
  .github/workflows/ci-cd.yml
  deploy/prod/docker-compose.server.yml
Due: none

update and rename docker compose for prod
  deploy/prod/docker-compose.yml
Due: none

fix bug docker compose prod
  deploy/prod/docker-compose.yml
Due: none

add cors policy to auth service
  services/auth-service/src/index.ts
Due: prettier --write, npm --prefix services/auth-service run lint:fix

fix: configure environment-based URLs for deployment compatibility
  client/src/main.tsx
  client/src/store/slices/authSlice.ts
  deploy/dev/docker-compose.yml
  deploy/prod/docker-compose.yml
  services/graphql-service/src/index.ts
Due: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix

fix: résoudre le conflit de port avec Caddy en production
  deploy/prod/docker-compose.yml
Due: none

fix: improve webhook handling and environment configuration
  .github/workflows/ci-cd.yml
Due: none

fix: limit CI/CD pipeline to main branch only
  .github/workflows/ci-cd.yml
Due: none

fix: resolve scroll issues on dashboard and product pages
  client/src/layouts/MainLayout.tsx
Due: prettier --write, npm --prefix client run lint:fix

feat(filters): replace brand autocomplete with single-select filter
  client/src/components/products/ProductList.tsx
  client/src/components/products/ProductTableView.tsx
  client/src/components/products/filters/BrandFilter.tsx
  client/src/components/products/filters/FilterContainer.tsx
  client/src/components/products/filters/StatusFilter.tsx
  client/src/components/products/filters/types.ts
  client/src/generated/graphql-types.ts
  client/src/graphql/products.ts
  client/src/pages/ProductsPage.tsx
  services/graphql-service/src/resolvers/ProductResolver.ts
Due: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix

feat: harmonize asset storage configuration between dev and prod
  deploy/prod/docker-compose.yml
Due: none

feat: standardize asset handling for images and logos
  client/src/components/admin/UserCreationForm.tsx
  client/src/components/brands/BrandCard.tsx
  client/src/components/products/ProductImages.tsx
  client/src/layouts/constants/constants.tsx
  client/src/pages/BandDetailsPage.tsx
  client/src/pages/EditProductPage.tsx
  client/src/pages/ProductDetailsPage.tsx
  client/src/utils/assets.ts
  deploy/dev/docker-compose.yml
  deploy/prod/docker-compose.yml
  nginx.conf
Due: prettier --write, npm --prefix client run lint:fix

Fix: Add autocomplete attributes to login inputs to improve UX and prevent browser warnings
  client/src/pages/LoginPage.tsx
Due: prettier --write, npm --prefix client run lint:fix

Fix: Update upload-artifact action to v4 in CI workflow
  .github/workflows/auth-service-complete-ci.yml
Due: none

replace Ethereal SMTP with Brevo SMTP
  deploy/dev/docker-compose.yml
  services/mail-service/.env.sample
  services/mail-service/.gitignore
  services/mail-service/src/config/mail.ts
  services/mail-service/src/controllers/mail.controller.ts
  services/mail-service/src/routes/mail.routes.ts
  services/mail-service/src/templates/index.ts
Due: none

debug mail service
  services/auth-service/src/routes/auth.routes.ts
  services/mail-service/src/controllers/mail.controller.ts
Due: prettier --write, npm --prefix services/auth-service run lint:fix

debug mail service
  services/auth-service/src/routes/auth.routes.ts
Due: prettier --write, npm --prefix services/auth-service run lint:fix

Correction du déploiement
  deploy/prod/docker-compose.yml
  services/auth-service/.gitignore
  services/mail-service/.gitignore
Due: none

update and modify env file in docker compose
  deploy/prod/docker-compose.yml
Due: none

fix: Correction de la variable d'environnement pour la réinitialisation du mot de passe
  client/src/services/authService.ts
Due: prettier --write, npm --prefix client run lint:fix

bug fix reset password
  services/auth-service/src/services/mail.service.ts
  services/auth-service/src/services/user.service.ts
  services/auth-service/src/types/mail.types.ts
  services/mail-service/dockerfile
Due: prettier --write, npm --prefix services/auth-service run lint:fix

bug fix on port in index.ts mail and auth service
  services/auth-service/src/index.ts
  services/mail-service/src/index.ts
Due: prettier --write, npm --prefix services/auth-service run lint:fix

fix: correct spelling from 'profile' to 'profil' in user menu for French display
  client/src/layouts/components/UserMenu.tsx
Due: prettier --write, npm --prefix client run lint:fix

fix: add 5000ms auto-dismiss timeout for error notifications
  client/src/components/providers/NotificationProvider.tsx
Due: prettier --write, npm --prefix client run lint:fix

feat: add CLAUDE.md for project guidance and development commands
  CLAUDE.md
  README.md
Due: prettier --write

chore: create hardening plan and ignore .crush dir\n\n💘 Generated with Crush\nCo-Authored-By: Crush <crush@charm.land>
  .gitignore
  PLAN.md
Due: prettier --write

ci: add CI workflows for client, graphql, upload, and mail services\n\n💘 Generated with Crush\nCo-Authored-By: Crush <crush@charm.land>
  .github/workflows/client-ci.yml
  .github/workflows/graphql-service-ci.yml
  .github/workflows/mail-service-ci.yml
  .github/workflows/upload-service-ci.yml
Due: none

feat(graphql): limits scaffold (complexity plugin placeholder) + add SECURITY.md and env samples\n\n💘 Generated with Crush\nCo-Authored-By: Crush <crush@charm.land>
  SECURITY.md
  services/graphql-service/.env.sample
  services/graphql-service/src/index.ts
  services/graphql-service/src/middleware/graphqlLimits.ts
  services/upload-service/.env.sample
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

feat(graphql): add per-request DataLoaders and expose in Context (brands/categories/tags)\n\n💘 Generated with Crush\nCo-Authored-By: Crush <crush@charm.land>
  services/graphql-service/src/middleware/createContext.ts
  services/graphql-service/src/middleware/dataLoaders.ts
  services/graphql-service/src/types/Context.ts
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

feat(graphql): wire complexity plugin and configurable body size limit into Apollo server\n\n💘 Generated with Crush\nCo-Authored-By: Crush <crush@charm.land>
  services/graphql-service/src/index.ts
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

test(graphql): smoke test without any types to satisfy linting\n\n💘 Generated with Crush\nCo-Authored-By: Crush <crush@charm.land>
  services/graphql-service/src/__tests__/smoke.test.ts
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

Path conditions:
  prettier --write: (((any of: *.{json,css,md}) or (any of: client/src/**/*.{ts,tsx})) or (any of: services/graphql-service/src/**/*.ts)) or (any of: services/auth-service/src/**/*.ts)
  npm --prefix client run lint:fix: any of: client/src/**/*.{ts,tsx}
  npm --prefix services/graphql-service run lint:fix: any of: services/graphql-service/src/**/*.ts
  npm --prefix services/auth-service run lint:fix: any of: services/auth-service/src/**/*.ts
