Repository alexandreg67/pim: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix

Fix: Migration corrected for full-text search and vector indexing
  storage/postgres/migrations/001_basic_search.sql
Due: none

Add: SEARCH_PRODUCTS query for searching products by name or reference
  client/src/graphql/products.ts
Due: prettier --write, npm --prefix client run lint:fix

Add: Reset search functionality in ProductsPage
  client/codegen.ts
  client/src/components/products/ProductCard.tsx
  client/src/components/products/ProductList.tsx
  client/src/generated/graphql-types.ts
  client/src/graphql/products.ts
  client/src/layouts/components/AppBarComponent.tsx
  client/src/layouts/components/SearchBar.tsx
  client/src/pages/ProductsPage.tsx
  client/src/theme.ts
Due: prettier --write, npm --prefix client run lint:fix

Clear input field after search
  client/src/layouts/MainLayout.tsx
  client/src/layouts/components/AppBarComponent.tsx
  client/src/layouts/components/SearchBar.tsx
Due: prettier --write, npm --prefix client run lint:fix

Configure Nginx to serve assets
  client/src/components/brands/BrandCard.tsx
  deploy/dev/docker-compose.yml
  nginx.conf
Due: prettier --write, npm --prefix client run lint:fix

Fix: Improved TextField placeholder visibility on white background
  client/src/components/brands/BrandList.tsx
  client/src/components/products/ProductCard.tsx
Due: prettier --write, npm --prefix client run lint:fix

Add totalProducts resolver and update BrandList component with pagination
  client/src/components/brands/BrandCard.tsx
  client/src/components/brands/BrandList.tsx
  client/src/generated/graphql-types.ts
  client/src/graphql/brands.ts
  client/src/pages/BandDetailsPage.tsx
  client/src/routes/index.tsx
  services/graphql-service/src/entities/Brands.ts
  services/graphql-service/src/resolvers/BrandResolver.ts
Due: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix

add page product details and component product image
  client/src/components/products/ProductCard.tsx
  client/src/components/products/ProductImages.tsx
  client/src/components/products/ProductList.tsx
  client/src/generated/graphql-types.ts
  client/src/graphql/products.ts
  client/src/pages/ProductDetailsPage.tsx
  client/src/routes/index.tsx
  services/graphql-service/src/resolvers/ProductResolver.ts
Due: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix

fix: handle missing isPrimary for product images
  client/src/components/products/ProductImages.tsx
  nginx.conf
  storage/assets/images/default-placeholder.png
Due: prettier --write, npm --prefix client run lint:fix

feat(brands): make entire brand card clickable and remove details button
  client/src/components/brands/BrandCard.tsx
Due: prettier --write, npm --prefix client run lint:fix

improve layout with logo aligned right
  client/src/pages/BandDetailsPage.tsx
Due: prettier --write, npm --prefix client run lint:fix

add products count per contact in brand details
  client/src/generated/graphql-types.ts
  client/src/graphql/brands.ts
  client/src/pages/BandDetailsPage.tsx
Due: prettier --write, npm --prefix client run lint:fix

add products count per contact in brand details
  services/graphql-service/src/entities/Contacts.ts
  services/graphql-service/src/index.ts
  services/graphql-service/src/resolvers/BrandResolver.ts
  services/graphql-service/src/resolvers/ContactResolver.ts
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

add country filter for contacts
  client/src/generated/graphql-types.ts
  client/src/graphql/brands.ts
  client/src/pages/BandDetailsPage.tsx
  services/graphql-service/src/resolvers/BrandResolver.ts
Due: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix

Create README.md
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

add initial filters layout with brand and status filters
  client/src/components/products/filters/BrandFilter.tsx
  client/src/components/products/filters/FilterContainer.tsx
  client/src/components/products/filters/StatusFilter.tsx
  client/src/components/products/filters/types.ts
  client/src/generated/graphql-types.ts
  client/src/graphql/brands.ts
  client/src/pages/ProductsPage.tsx
  services/graphql-service/src/resolvers/BrandResolver.ts
Due: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix

Enhancements and UI improvements: added borders, icons for contacts, fixed placeholder and chip display in Select component
  client/src/components/dashboard/RecentHistory.tsx
  client/src/components/dashboard/StatCard.tsx
  client/src/components/products/ProductCard.tsx
  client/src/components/products/ProductList.tsx
  client/src/components/products/filters/BrandFilter.tsx
  client/src/components/products/filters/FilterContainer.tsx
  client/src/components/products/filters/StatusFilter.tsx
  client/src/pages/BandDetailsPage.tsx
  client/src/pages/ProductDetailsPage.tsx
  client/src/pages/ProductsPage.tsx
Due: prettier --write, npm --prefix client run lint:fix

add status filter system for product list
  client/src/components/products/ProductList.tsx
  client/src/generated/graphql-types.ts
  client/src/graphql/products.ts
  client/src/pages/ProductsPage.tsx
  services/graphql-service/src/resolvers/ProductResolver.ts
Due: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix

Add French translation system for product status and filtered products count
  client/src/components/products/ProductList.tsx
  client/src/components/products/ProductResultsSummary.tsx
  client/src/components/products/filters/StatusFilter.tsx
  client/src/components/products/filters/types.ts
  client/src/config/status.config.ts
  client/src/pages/ProductDetailsPage.tsx
  client/src/types/enum/product.ts
  client/src/utils/product.utils.ts
Due: prettier --write, npm --prefix client run lint:fix

move divider
  client/src/components/products/ProductList.tsx
  client/src/components/products/ProductResultsSummary.tsx
Due: prettier --write, npm --prefix client run lint:fix

Add CRUD functionality for categories (Create, Update, Delete)
  client/src/components/products/ProductList.tsx
  client/src/components/products/ProductResultsSummary.tsx
  client/src/components/products/filters/BrandFilter.tsx
  client/src/components/products/filters/StatusFilter.tsx
  client/src/generated/graphql-types.ts
  client/src/graphql/categories.ts
  client/src/pages/CategoriesPage.tsx
  client/src/routes/index.tsx
  client/src/theme.ts
  services/graphql-service/src/index.ts
  services/graphql-service/src/resolvers/CategoryResolver.ts
Due: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix

add centralized notification and confirmation dialog system
  client/src/components/providers/DialogProvider.tsx
  client/src/components/providers/NotificationProvider.tsx
  client/src/hooks/useDialog.ts
  client/src/hooks/useNotification.ts
  client/src/main.tsx
  client/src/pages/CategoriesPage.tsx
  client/src/types/notification.ts
Due: prettier --write, npm --prefix client run lint:fix

fix(categories): correct dialog labels for create/edit mode
  client/src/pages/CategoriesPage.tsx
Due: prettier --write, npm --prefix client run lint:fix

implement tags management CRUD operations
  client/src/generated/graphql-types.ts
  client/src/graphql/tags.ts
  client/src/pages/TagsPage.tsx
  client/src/routes/index.tsx
  services/graphql-service/src/index.ts
  services/graphql-service/src/resolvers/CategoryResolver.ts
  services/graphql-service/src/resolvers/TagResolver.ts
Due: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix

add reference categories and tags
  storage/postgres/init/02_import.sql
Due: none

add category association to product edit page
  client/src/components/products/edit/CategoriesSection.tsx
  client/src/generated/graphql-types.ts
  client/src/graphql/products.ts
  client/src/pages/CategoriesPage.tsx
  client/src/pages/EditProductPage.tsx
  client/src/pages/ProductDetailsPage.tsx
  client/src/routes/index.tsx
  services/graphql-service/src/resolvers/ProductResolver.ts
Due: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix

Add CategoryGridStats component
  client/package-lock.json
  client/package.json
  client/src/components/dashboard/CategoryGridStats.tsx
  client/src/components/dashboard/ProductsByBrandChart.tsx
  client/src/components/dashboard/ProductsByCategoryChart.tsx
  client/src/components/dashboard/RecentHistory.tsx
  client/src/pages/Dashboard.tsx
Due: prettier --write, npm --prefix client run lint:fix

Add functionality to edit tags in product details
  client/src/components/products/edit/TagsSection.tsx
  client/src/generated/graphql-types.ts
  client/src/graphql/products.ts
  client/src/pages/EditProductPage.tsx
Due: prettier --write, npm --prefix client run lint:fix

Add functionality to edit tags in product details
  services/graphql-service/src/resolvers/ProductResolver.ts
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

Add categories and tags in ProductCard
  client/src/components/products/ProductCard.tsx
  client/src/components/products/ProductList.tsx
  client/src/generated/graphql-types.ts
  client/src/graphql/products.ts
  services/graphql-service/src/resolvers/ProductResolver.ts
Due: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix

enhance general information management and validation
  client/index.html
  client/src/components/dashboard/ProductsByCategoryChart.tsx
  client/src/components/dashboard/ProductsByCategoryTreemap.tsx
  client/src/components/products/edit/GeneralInfoSection.tsx
  client/src/components/products/edit/TagsSection.tsx
  client/src/generated/graphql-types.ts
  client/src/graphql/products.ts
  client/src/pages/EditProductPage.tsx
  client/src/pages/ProductDetailsPage.tsx
  services/graphql-service/src/resolvers/ProductResolver.ts
Due: prettier --write, npm --prefix client run lint:fix, npm --prefix services/graphql-service run lint:fix

fix(websocket): configure nginx and vite for proper websocket connection
  client/src/layouts/MainLayout.tsx
  client/src/pages/BandDetailsPage.tsx
  client/src/pages/BrandsPage.tsx
  client/src/pages/CategoriesPage.tsx
  client/src/pages/Dashboard.tsx
  client/src/pages/EditProductPage.tsx
  client/src/pages/ProductDetailsPage.tsx
  client/src/pages/ProductsPage.tsx
  client/src/pages/TagsPage.tsx
  nginx.conf
Due: prettier --write, npm --prefix client run lint:fix

enhance action tracking system
  deploy/dev/docker-compose.yml
  services/graphql-service/src/entities/Actions.ts
  storage/postgres/init/01_init.sql
  storage/postgres/init/02_import.sql
  storage/postgres/init/03_categories_seed.sql
  storage/postgres/init/04_tags_seed.sql
  storage/postgres/init/05_actions_seed.sql
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

update history entitiy + update init.sql + seed fake user
  deploy/dev/docker-compose.yml
  services/graphql-service/package-lock.json
  services/graphql-service/package.json
  services/graphql-service/src/entities/History.ts
  storage/postgres/init/01_init.sql
  storage/postgres/init/06_users_seed.sql
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

add userService and update userResolver and context createContext
  services/graphql-service/src/index.ts
  services/graphql-service/src/middleware/createContext.ts
  services/graphql-service/src/resolvers/UserResolver.ts
  services/graphql-service/src/services/userService.ts
  services/graphql-service/src/types/Context.ts
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

Add history tracking system for product updates
  services/graphql-service/src/index.ts
  services/graphql-service/src/middleware/createContext.ts
  services/graphql-service/src/resolvers/ProductResolver.ts
  services/graphql-service/src/resolvers/UserResolver.ts
  services/graphql-service/src/services/HistoryService.ts
  services/graphql-service/src/services/UserService.ts
  services/graphql-service/src/types/Context.ts
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

refactor(resolvers): combine update mutations and add service decorators
  services/graphql-service/src/resolvers/BrandResolver.ts
  services/graphql-service/src/resolvers/CategoryResolver.ts
  services/graphql-service/src/resolvers/CharacteristicDefinitionResolver.ts
  services/graphql-service/src/resolvers/ContactResolver.ts
  services/graphql-service/src/resolvers/DashboardResolver.ts
  services/graphql-service/src/resolvers/ProductResolver.ts
  services/graphql-service/src/resolvers/TagResolver.ts
  services/graphql-service/src/resolvers/UserResolver.ts
  services/graphql-service/src/services/HistoryService.ts
Due: prettier --write, npm --prefix services/graphql-service run lint:fix

Path conditions:
  prettier --write: ((any of: *.{json,css,md}) or (any of: client/src/**/*.{ts,tsx})) or (any of: services/graphql-service/src/**/*.ts)
  npm --prefix client run lint:fix: any of: client/src/**/*.{ts,tsx}
  npm --prefix services/graphql-service run lint:fix: any of: services/graphql-service/src/**/*.ts
